@font-face {
  font-family: "MontserratAlternates-Bold";
  src: url(../fonts/MontserratAlternates-Bold.ttf) format(truetype);
  font-weight: 800;
  font-style: bold;
}
@font-face {
  font-family: "Montserrant-SemiBold";
  src: url(../fonts/Montserrat-SemiBold.ttf) format(truetype);
  font-weight: 800;
  font-style: semibold;
}
