body {
  margin: 0%;
  width: 100%;
  overflow-x: hidden;
  background-color: #fff8e1;
}
section {
  width: 100%;
  height: 800px;
  margin: 0%;
}

.wlcm_img {
  width: 1114px;
  height: 170px;
  margin-left: 200px;
  margin-top: 30px;
}

.rect {
  width: 100%;
  height: 570px;
  margin-top: 30px;
  background-color: #fb6107;
}
.line_img {
  width: 100%;
  height: 1601;
}
