body {
  margin: 0%;
  width: 100%;
  overflow-x: hidden;
  background-color: #fff8e1;
  font-family: "MontserratAlternates-Bold", "Montserrat-Medium";
}
.block1 {
  width: 100%;
  height: 800px;
  margin: 0%;
}

.wlcm_img {
  width: 1114px;
  height: 170px;
  margin-left: 200px;
  margin-top: 30px;
}

.line_img {
  width: 100%;
  margin-top: 30px;
}

/* .wlcm_img {
  width: 1114px;
  height: 170px;
  margin-left: 200px;
  margin-top: 30px;
}

.rect {
  width: 100%;
  height: 570px;
  margin-top: 30px;
  background-color: #fb6107;
} */
